<launch>
    
    <node pkg="ekf" type="ekf" name="ekf" output="screen">
        <remap from="~imu" to="/mavros/imu/data"/>
        <remap from="~bodyodometry" to="/vrpn_client_node/fastdrone/pose"/> 
        <remap from="~ekf_odom" to="/ekf/ekf_odom"/>

        <!-- parms -->
        <rosparam file="$(find ekf)/launch/PX4_vio_drone.yaml" command="load" />

        <!--body in IMU frame-->>
        <param name="imu_trans_x" type="double" value="0.0"/> 
        <param name="imu_trans_y" type="double" value="0.0"/> 
        <param name="imu_trans_z" type="double" value="-0.10"/> 

        <!-- Qt -->
        <param name="gyro_cov" type="double" value="0.02"/> 
        <param name="acc_cov" type="double" value="0.5"/>
        <!-- Rt -->
        <param name="position_cov" type="double" value="0.01"/>
        <param name="q_rp_cov" type="double" value="0.01"/>
        <param name="q_yaw_cov" type="double" value="0.01"/>   

    </node>

</launch>
