<launch>

	<node name="rosbag" pkg="rosbag" type="play" respawn="false" args="--delay=1 --queue=1000 $(find tag_detector)/bag/images.bag" />

    <node pkg="tag_detector" type="tag_detector" name="tag_detector" output="screen">
        <remap from="~image_raw" to="/camera/image"/>
        <param name="cam_cal_file" type="string" value="$(find tag_detector)/config/camera.yml"/>
        <param name="board_config_file" type="string" value="$(find tag_detector)/config/a.yml"/>
    </node>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find tag_detector)/config/project2.rviz" />

</launch>
