<?xml version="1.0"?>

<launch>

  <node pkg="traj_generator" type="traj_square" name="traj_square" output="screen">
    <param name="follow_yaw" type="bool" value="false"/>
    <param name="mean_speed" type="double" value="1.2"/>

    <!--remap from="~odom" to="/pos_vel_mocap/odom_TA" /-->

    <!-- <remap from="~odom" to="/vins_multi_rgbd/imu_propagate" /> -->

    <remap from="~odom" to="/ekf/ekf_odom" />

  </node>

</launch>
